{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="registrar-venda-container">
    <h2>Cadastrar Vendedora</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br><br>
        <h4>Atualizar Senha</h4>
        {{ senha_form.as_p }}
        <button type="submit" class="btn-salvar">Cadastrar</button>
        <a href="{% url 'listar_vendedoras' %}" class="btn-acao cancelar">Cancelar</a>
    </form>
</div>
</div>
{% endblock %}