<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Vendedor</title>
    {% load static %}
    <!-- Vincula o arquivo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">Bem vindo(a)!</span>
                <img src="{% static 'images/logo_lokenzzi.jpg' %}" alt="Logo Lokenzzi">

                   <!-- Exibe a mensagem de erro -->
                   {% if messages %}
                   <div class="alert alert-danger">
                       {% for message in messages %}
                           <p>{{ message }}</p>
                       {% endfor %}
                   </div>
               {% endif %}
               
                <form method="POST">
                    {% csrf_token %}
                    <!-- Renderizando os campos individualmente com classes personalizadas -->
                    <div class="wrap-input100">
                        <label for="{{ form.username.id_for_label }}">Usuário:</label><br>
                        {{ form.username }}
                    </div>
                    <div class="wrap-input100" style="position: relative;">
                        <label for="{{ form.password.id_for_label }}">Senha:</label><br>
                        {{ form.password }}
                        <i id="togglePassword" class="fa-solid fa-eye"
                           style="position: absolute; top: 38px; right: 15px; cursor: pointer;"></i>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Entrar</button>
                    </div>
                </form>
                <!-- Link para redefinir a senha -->
                <div class="text-center p-t-12">
                    <a href="{% url 'custom_password_reset' %}">Esqueci minha senha</a>
                </div>

            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggle = document.getElementById("togglePassword");
            const input = document.getElementById("id_password");
    
            toggle.addEventListener("click", function () {
                const isPassword = input.type === "password";
                input.type = isPassword ? "text" : "password";
                this.classList.toggle("fa-eye");
                this.classList.toggle("fa-eye-slash");
            });
        });
    </script>
</body>
</html>
