{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-container" style="max-width: 1400px;">

    {% if messages %}
    <div class="mensagens">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<a href="{% url 'cadastrar_vendedora' %}" class="button">
    <img src="{% static 'images/botao-adicionar.png' %}" alt="Adicionar Vendedora" width="20"></a>

    <div class="tabelas-container" style="width: 100%;">
        <div class="tabela" style="overflow-y: visible; max-height: none;">
            
            <h3>Lista de Vendedoras</h3>
            <table class="tabela-interna">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Lojas</th>
                    <th>Status</th>
                    <th colspan="2">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for v in vendedoras %}
                <tr>
                    <td>{{ v.first_name }} {{ v.last_name }}</td>
                    <td>{{ v.email }}</td>
                    <td>
                        {% for loja in v.lojas.all %}
                            {{ loja.nome }} - {{ loja.cidade }}<br>{% if not forloop.last %}{% endif %}
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                    <td>
                        <form id="form-status-{{ v.id }}" method="POST" action="{% url 'alternar_status_vendedora' v.id %}" style="display: inline;">
                            {% csrf_token %}
                            <a href="#" onclick="confirmarStatus('{{ v.id }}', '{{ v.first_name }}')">
                                {% if v.is_active %}
                                    <img src="{% static 'images/sinal-de-visto.png' %}" alt="Ativo" width="20">
                                {% else %}
                                    <img src="{% static 'images/botao-x.png' %}" alt="Inativo" width="15">
                                {% endif %}
                            </a>
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'editar_vendedora' v.id %}" class="btn-acao editar">
                            <img src="{% static 'images/btn-edit.png' %}" alt="Logo" width="20"></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Nenhuma vendedora cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="paginacao">
            {% if vendedoras.has_other_pages %}
                <div class="step-links">
                    {% if vendedoras.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ vendedoras.previous_page_number }}">anterior</a>
                    {% endif %}
        
                    <span class="current">
                        Página {{ vendedoras.number }} de {{ vendedoras.paginator.num_pages }}
                    </span>
        
                    {% if vendedoras.has_next %}
                        <a href="?page={{ vendedoras.next_page_number }}">próxima</a>
                        <a href="?page={{ vendedoras.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    </div>
</div>
<script>
    function confirmarStatus(vendedoraId, nome) {
        const confirmar = confirm(`Deseja realmente alterar o status da vendedora ${nome}?`);
        if (confirmar) {
            document.getElementById(`form-status-${vendedoraId}`).submit();
        }
    }
</script>
{% endblock %}