<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Vendas</title>
    {% load static %}
    <!-- Vincula o arquivo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Bem-vindo à Página de Vendas!</h2>
    <center><img src="{% static 'images/banner_premiacao.jpeg' %}" alt="banner premiação" width="300"></center>

    <center><p>Esta é a área onde os vendedores podem registrar suas vendas.</p>
    <a href="{% url 'registrar_venda' %}">Registrar uma nova venda</a></center>

    <h2>Arquivos Enviados</h2>
    <ul>
      {% for arquivo in arquivos %}
        <li>
          <a href="{{ arquivo.arquivo.url }}" target="_blank">Clique aqui para acessar o arquivo: {{ arquivo.arquivo.name }}</a>
        </li>
      {% empty %}
        <p>Não há arquivos enviados.</p>
      {% endfor %}
    </ul>
</body>
</html>