{% extends 'base.html' %}
{% load static %}
<!-- Vincula o arquivo CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<div class="form-container">

<h2>Relatório de Vendas</h2>

<!-- Formulário de Filtros -->
<div class="form-inline">
<form method="get" action="">
    <label for="mes">Mês:</label>
    <select name="mes">
        {% for mes in meses_disponiveis %}
            <option value="{{ mes }}" {% if mes_atual == mes %}selected{% endif %}>
                {% if mes == 1 %}Janeiro{% elif mes == 2 %}Fevereiro{% elif mes == 3 %}Março{% elif mes == 4 %}Abril{% elif mes == 5 %}Maio{% elif mes == 6 %}Junho{% elif mes == 7 %}Julho{% elif mes == 8 %}Agosto{% elif mes == 9 %}Setembro{% elif mes == 10 %}Outubro{% elif mes == 11 %}Novembro{% elif mes == 12 %}Dezembro{% endif %}
            </option>
        {% endfor %}
    </select>

    <label for="ano">Ano:</label>
    <select name="ano">
        {% for ano in anos_disponiveis %}
            <option value="{{ ano }}" {% if ano_atual == ano %}selected{% endif %}>{{ ano }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>
</div>



<!-- Tabela de Vendas por Vendedor -->
<div class="tabelas-container">
    <div class="tabela">
        <h3>Vendas por Vendedora</h3>
        <p> {% if mes %}{{ mes }}{% else %}{{ mes_atual }}{% endif %}/{% if ano %}{{ ano }}{% else %}{{ ano_atual }}{% endif %}</p>
<table border="1">
    <thead>
        <tr>
            <th>#</th>  <!-- Nova coluna para o número -->
            <th>Vendedora</th>
            <th>Total Vendido</th>
            <th>Valor Total (R$)</th> <!-- Nova coluna -->
        </tr>
    </thead>
    <tbody>
{% for vendedor, dados in vendas_por_vendedor.items %}
    <tr>
        <td>{{ forloop.counter }}</td> <!-- Exibe o número da linha -->
        <td>
            {% if dados.vendedor.id %}
                <a href="{% url 'selos' id_vendedor=dados.vendedor.id %}">
                    {{ dados.vendedor.first_name }} {{ dados.vendedor.last_name }}
                </a>
            {% else %}
                <span>Vendedor não encontrado</span>
            {% endif %}
        </td>
        <td>{{ dados.total_geral_pecas }}</td>
        <td><strong>R$ {{ dados.total_geral_valor|floatformat:2 }}</strong></td>
    </tr>
{% empty %}
    <tr><td colspan="4">Nenhuma venda encontrada.</td></tr>
{% endfor %}  
    </tbody>
</table>
</div>


<div class="tabela">
<!-- Tabela de Vendas por Loja -->
<h3>Vendas por Loja</h3>
<p> {% if mes %}{{ mes }}{% else %}{{ mes_atual }}{% endif %}/{% if ano %}{{ ano }}{% else %}{{ ano_atual }}{% endif %}</p>
<table border="1">
    <thead>
        <tr>
            <th>#</th>  <!-- Nova coluna para o número -->
            <th>Loja</th>
            <th>Total Vendido</th>
            <th>Valor Total (R$)</th> <!-- Nova coluna -->
        </tr>
    </thead>
    <tbody>
        {% for venda in vendas_por_loja %}
            <tr>
                <td>{{ forloop.counter }}</td> <!-- Exibe o número da linha -->
                <td>{{ venda.loja__nome }}</td>
                <td>{{ venda.total_vendido }}</td>
                <td>R$ {{ venda.total_valor|floatformat:2 }}</td> <!-- Novo campo -->
            </tr>
        {% empty %}
            <tr><td colspan="4">Nenhuma venda encontrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
