{% extends 'base.html' %}

{% block content %}
<div class="roteiros-container">
    <div class="roteiros-content">
        <h2>Meus Roteiros</h2>

        <div class="tabela-scroll">
            <table border="1">
                <thead>
                    <tr>
                        <th>Arquivo</th>
                        <th>Data de Upload</th>
                    </tr>
                </thead>
                <tbody>
                    {% for roteiro in roteiros %}
                        <tr>
                            <td><a href="{{ roteiro.arquivo.url }}" target="_blank">{{ roteiro.arquivo.name }}</a></td>
                            <td>{{ roteiro.uploaded_at|date:"d/m/Y H:i" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">Nenhum roteiro disponível.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}