{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="form-container">
<h2>Relatório de Vendas</h2><br> 
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

        <form method="GET">
        
            <label for="mes">Mês:</label>
            <select name="mes">
                {% for mes in meses_disponiveis %}
                    <option value="{{ mes }}" {% if mes == mes_atual %}selected{% endif %}>
                        {{ mes }}
                    </option>
                {% endfor %}
            </select>

            <label for="ano">Ano:</label>
            <select name="ano">
                {% for ano in anos_disponiveis %}
                    <option value="{{ ano }}" {% if ano == ano_atual %}selected{% endif %}>{{ ano }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Filtrar</button>
        </form>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Semana</th>
                    {% for produto in produtos %}
                        <th>{{ produto.nome }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for dia, produtos_vendidos in vendas_por_dia.items %}
                    <tr>
                        <td>{{ dia }}</td>
                        <td>{{ dias_formatados|dict_get:dia }}</td>
                        {% for produto in produtos %}
                        <td>
                            {{ produtos_vendidos|dict_get:produto.id|default_if_none:"0" }}
                        </td>
                    {% endfor %}
                        <td>{{ produtos_vendidos|sum_values }}</td>
                    </tr>
                {% endfor %}
        
                <tr>
                    <td colspan="2"><strong>Total em Peças</strong></td>
                    {% for produto in produtos %}
                        <td><strong>{{ total_por_produto|dict_get:produto.id|default:"0" }}</strong></td>
                    {% endfor %}
                    <td><strong>{{ total_geral_pecas }}</strong></td>
                </tr>
        
                <tr>
                    <td colspan="2"><strong>Valor em Reais</strong></td>
                    {% for produto in produtos %}
                        <td><strong>R$ {{ valor_por_produto|dict_get:produto.id|default:"0.00"|floatformat:2 }}</strong></td>
                    {% endfor %}
                    <td><strong>R$ {{ total_geral_valor|floatformat:2 }}</strong></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
{% endblock %}