{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="form-container">
<h2>Relatório de Vendas</h2><br> 
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <div class="form-inline">
        <form method="GET">
        
            <label for="mes">Mês:</label>
            <select name="mes">
                {% for mes in meses_disponiveis %}
                    <option value="{{ mes }}" {% if mes == mes_atual %}selected{% endif %}>
                        {% if mes == 1 %}Janeiro{% elif mes == 2 %}Fevereiro{% elif mes == 3 %}Março{% elif mes == 4 %}Abril{% elif mes == 5 %}Maio{% elif mes == 6 %}Junho{% elif mes == 7 %}Julho{% elif mes == 8 %}Agosto{% elif mes == 9 %}Setembro{% elif mes == 10 %}Outubro{% elif mes == 11 %}Novembro{% elif mes == 12 %}Dezembro{% endif %}
                    </option>
                {% endfor %}
            </select>

            <label for="ano">Ano:</label>
            <select name="ano">
                {% for ano in anos_disponiveis %}
                    <option value="{{ ano }}" {% if ano == ano_atual %}selected{% endif %}>{{ ano }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Filtrar</button>
        </form>
    </div>
        <h2>Promotora: 
            {% if vendedor %}
            {{ vendedor.first_name }} {{ vendedor.last_name }}  <!-- Se o vendedor estiver presente -->
        {% else %}
            {{ request.user.first_name }}  <!-- Caso contrário, usa o nome do usuário logado -->
        {% endif %}
           - {{ mes }}/{{ ano }}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Semana</th>
                    {% for produto in produtos %}
                        <th>{{ produto.nome }}</th>
                    {% endfor %}
                    <th>Total</th>
                    {% if not request.user.is_staff %}
                    <th class="coluna-editar">Editar</th>
                {% endif %} 
                </tr>
            </thead>
            <tbody>
                {% for dia, produtos_vendidos in vendas_por_dia.items %}
                    <tr>
                        <td data-label="Dia">{{ dia }}</td>
                        <td data-label="Semana">{{ dias_formatados|dict_get:dia }}</td>
                        {% for produto in produtos %}
                        <td data-label="{{ produto.nome }}">
                            {{ produtos_vendidos|dict_get:produto.id|default_if_none:"0" }}
                        </td>
                    {% endfor %}
                        <td data-label="Total">{{ produtos_vendidos|sum_values }}</td>
                    {% if not request.user.is_staff %}
                        <td class="coluna-editar">
                            {% with ano|stringformat:"d" as ano_formatado %}
                            {% with mes|stringformat:"02d" as mes_formatado %}
                            {% with dia|stringformat:"02d" as dia_formatado %}
                                {% with ano_formatado|add:"-"|add:mes_formatado|add:"-"|add:dia_formatado as data_formatada %}
                                    <a href="{% url 'editar_vendas' data_formatada %}">
                                        <img src="{% static 'images/btn-edit.png' %}" alt="Logo" width="20">
                                    </a>
                                {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
        
                <tr>
                    <td colspan="2"><strong>Total em Peças</strong></td>
                    {% for produto in produtos %}
                    <td data-label="{{ produto.nome }}"><strong>{{ total_por_produto|dict_get:produto.id|default:"0" }}</strong></td>
                    {% endfor %}
                    <td data-label="Total geral"><strong>{{ total_geral_pecas }}</strong></td>
                </tr>
        
                <tr>
                    <td colspan="2"><strong>Valor em Reais</strong></td>
                    {% for produto in produtos %}
                    <td data-label="{{ produto.nome }}"><strong>R$ {{ valor_por_produto|dict_get:produto.id|default:"0.00"|floatformat:2 }}</strong></td>
                    {% endfor %}
                    <td><strong>R$ {{ total_geral_valor|floatformat:2 }}</strong></td>
                </tr>
            </tbody>
        </table>
        
</div>
    
{% endblock %}